<h1>Seja Bem-Vindo</h1>
<p>Data: <%= date_br(Date.today) %></p>

<%= render "menu"%>
<p> 
    Voce esta em ambiente de <strong><%= ambiente_rails %></strong>
</p>

<p> 
    Meu nome é <strong><%= @meu_nome %></strong>
</p>
<p> 
    Meu curso é <strong><%= @curso %></strong>
</p>
